
@{
    ViewBag.Title = "Index";
}
<form>
    <br />
    姓名：<input type="text" name="username" value="" /><br /><br />
    帳號：<input type="text" name="account" value="" /><br /><br />
    密碼：<input type="password" name="password" value="" /><br /><br />
    年齡：<input type="number" name="" value="" /><br /><br />
    性別：<input type="radio" name="name" value="A" />男性
    <input type="radio" name="name" value="B" />女性<br /><br />
    興趣：<input type="checkbox" name="1" value="A" />打籃球
    <input type="checkbox" name="2" value="B" />唱歌
    <input type="checkbox" name="3" value="C" />聽歌<br /><br />
    

</form>
